<div class="container">

<div class="well form-horizontal" id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Registro de Usuario</legend>

<!-- Text input-->

<div class="form-group">
    <label class="col-md-4 control-label">Nombre</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">      
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input  name="nombre" placeholder="Nombre" class="form-control"  type="text" ng-model="usuario.Nombre">
    </div>
    </div>
</div>

<!-- Text input-->

<div class="form-group">
    <label class="col-md-4 control-label" >Apellido</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input name="apellido" placeholder="Apellido" class="form-control"  type="text" ng-model="usuario.Apellido">
    </div>
    </div>
</div>

<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input name="email" placeholder="E-Mail" class="form-control"  type="text" ng-model="usuario.Email">
    </div>
    </div>
</div>

<!-- Text input-->
       
<div class="form-group">
    <label class="col-md-4 control-label">Teléfono</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
        <input name="telefono" placeholder="(+56 9)9999-9999" class="form-control" type="text" ng-model="usuario.Telefono">
    </div>
    </div>
</div>

<!-- Select Basic -->
<!--
<div class="form-group"> 
    <label class="col-md-4 control-label">País</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
        <select name="pais" class="form-control selectpicker" ng-model="usuario.Pais">
            <option value=" " >Seleccione País</option>
            <option value="1" >Chile</option>     
        </select>
    </div>
    </div>
</div>
-->
<!-- Select Basic -->
<!--
<div class="form-group"> 
    <label class="col-md-4 control-label">Región</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
        <select name="region" class="form-control selectpicker" ng-model="usuario.Region">
            <option value=" " >Seleccione Región</option>
            <option value="1" >RM</option>     
        </select>
    </div>
    </div>
</div>
-->
<!-- Select Basic -->
<!--
<div class="form-group"> 
    <label class="col-md-4 control-label">Comuna</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
        <select name="comuna" class="form-control selectpicker" ng-model="usuario.Comuna">
            <option value=" " >Seleccione Comuna</option>
            <option value="1" >Santiago</option>     
        </select>
    </div>
    </div>
</div>
-->
<!-- Text input-->

<div class="form-group">
    <label class="col-md-4 control-label">Password</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input name="password" placeholder="Password" class="form-control" type="text" ng-model="usuario.Password">
    </div>
    </div>
</div>

<!-- Button -->
<div class="form-group">
    <label class="col-md-4 control-label"></label>
    <div class="col-md-4">
        <button class="btn btn-warning" ng-click="registro()">Enviar <span class="glyphicon glyphicon-send"></span></button>
    </div>
</div>

</fieldset>
</div>
</div>
</div><!-- /.container -->

</html>